<PageTitle>@PageTitle</PageTitle>
<h1 class="title">@Title</h1>
<div class="container">
    @ChildContent
</div>

@code{

    [Parameter]
    public bool IncludeSiteName { get; set; } = true;

    [Parameter]
    public string Title { get; set; } = null!;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    string PageTitle => ( IncludeSiteName ? "GingerCodeSite | " : "" ) + Title;

}