@inject SignInManager< GingerCodeSiteUser > _signInManager
@inject UserManager< GingerCodeSiteUser > _userManager

<ul class="navbar-nav">
    @if ( _signInManager.IsSignedIn( User ) )
    {
        <li class="nav-item">
            <a asp-page="/Account/Manage/Index"
               class="nav-link text-dark"
               id="manage"
               title="Manage">
                Hello @_userManager.GetUserName( User )!
            </a>
        </li>
        <li class="nav-item">
            <form asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Page( "/Index" , new { area = "" , } )"
                  class="form-inline"
                  id="logoutForm">
                <button class="nav-link btn btn-link text-dark"
                        id="logout"
                        type="submit">
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a asp-page="/Account/Register"
               class="nav-link text-dark"
               id="register">
                Register
            </a>
        </li>
        <li class="nav-item">
            <a asp-page="/Account/Login"
               class="nav-link text-dark"
               id="login">
                Login
            </a>
        </li>
    }
</ul>