@page "/account/manage"
@model IndexModel
@{
    ViewData[ "Title" ] = "Profile";
    ViewData[ "ActivePage" ] = ManageNavPages.Index;
}

<h3 class="title">@ViewData[ "Title" ]</h3>
<partial for="StatusMessage "
         name="_StatusMessage" />
<div class="container">
    <div class="column">
        <form id="profile-form"
              method="post">
            <div asp-validation-summary="ModelOnly "
                 class="is-danger">
            </div>
            <div class="field">
                <input asp-for="Username "
                       class="input"
                       disabled
                       type="text" />
                <label asp-for="Username "
                       class="label">
                </label>
            </div>
            <div class="field">
                <input asp-for="Input.PhoneNumber "
                       class="input"
                       type="text" />
                <label asp-for="Input.PhoneNumber "
                       class="label">
                </label>
                <span asp-validation-for="Input.PhoneNumber "
                      class="is-danger">
                </span>
            </div>
            <button class="button is-link"
                    id="update-profile-button"
                    type="submit">
                Save
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}