@page "/account/access-denied"
@model AccessDeniedModel
@{
    ViewData[ "Title" ] = "Access denied";
}

<header>
    <h1 class="is-danger">@ViewData[ "Title" ]</h1>
    <p class="is-danger">You do not have access to this resource.</p>
</header>