@page "/account/confirm-email"
@model ConfirmEmailModel
@{
    ViewData[ "Title" ] = "Confirm email";
}

<h1 class="title">@ViewData[ "Title" ]</h1>
<partial model="Model.StatusMessage "
         name="_StatusMessage" />