@page "/account/locked-out"
@model LockoutModel
@{
    ViewData[ "Title" ] = "Locked out";
}

<header>
    <h1 class="is-danger">@ViewData[ "Title" ]</h1>
    <p class="is-danger">This account has been locked out, please try again later.</p>
</header>