@page "/account/reset-password"
@model ResetPasswordModel
@{
    ViewData[ "Title" ] = "Reset password";
}

<h1 class="title">@ViewData[ "Title" ]</h1>
<h2>Reset your password.</h2>
<hr />
<div class="container">
    <div class="column is-half is-offset-one-quarter">
        <form method="post">
            <div asp-validation-summary="ModelOnly "
                 class="is-danger">
            </div>
            <input asp-for="Input.Code "
                   type="hidden" />
            <div class="field">
                <input aria-required="true"
                       asp-for="Input.Email "
                       autocomplete="username"
                       class="input"
                       type="text" />
                <label asp-for="Input.Email "
                       class="label">
                </label>
                <span asp-validation-for="Input.Email "
                      class="is-danger">
                </span>
            </div>
            <div class="field">
                <input aria-required="true"
                       asp-for="Input.Password "
                       autocomplete="new-password"
                       class="input"
                       type="password" />
                <label asp-for="Input.Password "
                       class="label">
                </label>
                <span asp-validation-for="Input.Password "
                      class="is-danger">
                </span>
            </div>
            <div class="field">
                <input aria-required="true"
                       asp-for="Input.ConfirmPassword "
                       autocomplete="new-password"
                       class="input"
                       type="password" />
                <label asp-for="Input.ConfirmPassword "
                       class="label">
                </label>
                <span asp-validation-for="Input.ConfirmPassword "
                      class="is-danger">
                </span>
            </div>
            <button class="button is-link"
                    type="submit">
                Reset
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}