@page "/about"
<Page Title="About">
    <section>
        <div class="content">
            <p>
                I am just a developer with a love for what they do- but I'll let you learn more about that later on 😉
            </p>
        </div>
    </section>
</Page>