@page "/"
<Page Title="Home">
    <section>
        <h4 class="title">
            Welcome to GingerCodeSite, templated by
            <strong>ginger-code</strong>!
        </h4>
        <p class="subtitle">
            Skip writing tedious, repetitive boilerplate and start writing a site!
        </p>
    </section>
    <section>
        <div class="content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac viverra odio. Suspendisse scelerisque orci arcu, quis venenatis libero dictum mollis. Cras suscipit ut mauris nec rutrum. Integer at cursus sapien, ut egestas odio. Morbi bibendum sodales quam ac ullamcorper. Curabitur eget arcu tortor. Aliquam in pellentesque sem. Donec molestie est a erat aliquet sagittis. Duis ut neque mattis, ullamcorper sapien sed, imperdiet felis. Aenean laoreet fermentum urna, id scelerisque metus sagittis quis. Etiam interdum erat sit amet pellentesque gravida. Nulla eget tellus justo. Mauris pulvinar eget diam in scelerisque. Pellentesque nec dapibus ex, nec porttitor lectus. Nunc iaculis risus urna, ultricies molestie neque rhoncus nec.
            </p>
            <p>
                Pellentesque ut dolor eleifend, dignissim lorem nec, tincidunt sem. Nam at magna nibh. Vestibulum in bibendum nibh. Nulla vel nisl nisi. Nunc mattis posuere dictum. Fusce facilisis tortor quam, nec fermentum quam vehicula quis. Fusce rhoncus metus semper, imperdiet odio non, congue mi. Fusce maximus pellentesque sem, sed bibendum turpis lacinia in. Donec eleifend ornare condimentum. Vivamus quis metus tristique nisl iaculis cursus in eu enim. Duis sapien magna, sodales eget erat ac, finibus efficitur tortor. Mauris posuere vitae nisi gravida vestibulum. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            </p>
        </div>
    </section>
</Page>